@model System.Collections.Generic.List<KilmoniCloud.Data.FormStream>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>View Single Stream Students</h2>


<div class="d-flex justify-content-between flex-column">


    @foreach (var stream in Model)
    {
        <div>
            <a asp-controller="FormStreams" asp-action="RequestSingleStreamStudents" asp-route-StreamId="@stream.FormStreamId">@stream.Name</a>
        </div>
    }

</div>